@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700');

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-x: hidden !important;
}

.main {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

hr {
  margin-top: 60px;
  margin-bottom: 60px;
  border: 0;
  border-top: 2px solid rgb(207, 87, 52);
  max-width: 50px;
}

.sidebar-content{
  text-align: right;
  color: white;
  a , a:hover{
    color: white;
    text-decoration: none;
  }
  hr{
  }
}

h1{
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.3;
}

h2{
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.3;
}

h3{
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.3;
}

h4{
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3;
}

h5{
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.3;
}

p{
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.5;
}

li{
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.5;
}


/* Tablet Portrait */
@media (min-width: 768px) and (max-width: 991px){
  h1{
    font-size: 2.875rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h2{
    font-size: 2.125rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h3{
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h4{
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h5{
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.3;
  }

  p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
  }

  li{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

/* Phone Landscape */
@media (min-width: 415px) and (max-width: 767px){
  h1{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h2{
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h3{
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h4{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h5{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.3;
  }

  p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
  }

  li{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

/* Phone Portrait */
@media (max-width: 414px) {
  h1{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h2{
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h3{
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h4{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h5{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.3;
  }

  p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
  }

  li{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
  }
}


/* Small Phone Portrait */
@media (max-width: 320px) {
  h1{
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h2{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h3{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h4{
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.3;
  }

  h5{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3;
  }

  p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  li{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .btn p{
    font-size: 0.8rem !important;
  }
}
