.footer-cta-section{
  background-color: #fff;
  position: relative;
  text-align: center;
  padding: 100px 0px;
  color: $primary-color;
  h2{
    color: $primary-color;
  }

  .floating-img-one{
    position: absolute;
    left: -10%;
    bottom: -50%;
  }

  .floating-img-two{
    position: absolute;
    right: -25%;
    bottom: -60%;
  }
}

.footer-wrapper{
  background-color: $dark-grey;
  color: white;
}

.footer-logos-wrapper{
  padding: 50px;
  background-color: $medium-grey;
  .hero-wrapper-verticle {
    display: table;
    height: 100px;
    width: 100%;
  }
}

.footer-main-wrapper{
  padding-top: 50px;
  li.mega-menu-item {
    display: block !important;
  }

  .sidebar-content{
    hr{
      margin-top: 35px;
      margin-bottom: 35px;
    }
    h4{
      margin-top: 10px;
      font-weight: 400;
    }
    .social-icons a i:hover{
      color: $copper;
    }
  }

  .footer-low-colum{
    padding-top: 100px;
  }

  .newsletter-wrapper{
    text-align: center;
    padding: 120px 80px 0;
    input {
      overflow: visible;
      background-color: #303030;
      border: none;
      padding: 15px;
      color: #ffff;
      width: 100%;
      text-align: center !important;
      font-weight: 300 !important;
      font-size: 1.125rem;
    }
    [type=reset], [type=submit], button, html [type=button] {
      -webkit-appearance: button;
      background-color: #202020 !important;
      border: solid 1px #fff !important;
    }

    [type=reset], [type=submit]:hover, button, html [type=button] {
      -webkit-appearance: button;
      background-color: white !important;
      color: #000;
      border: solid 1px #fff !important;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
      text-align: center;
      font-style: italic;
      font-weight: 300i;
      font-size: 1.125rem;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: white;
      text-align: center;
      font-style: italic;
      font-weight: 300i;
      font-size: 1.125rem;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: white;
      text-align: center;
      font-style: italic;
      font-weight: 300i;
      font-size: 1.125rem;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: white;
      text-align: center;
      font-style: italic;
      font-weight: 300i;
      font-size: 1.125rem;
    }
    span.wpcf7-not-valid-tip {
      color: #cf5534;
      font-size: 0.7em;
      font-weight: normal;
      display: block;
      margin-top: 20px;
    }
    div.wpcf7-validation-errors {
      display: none !important;
    }
  }
}

.footer-bottom-wrapper{
  padding-bottom: 50px;
  text-align: center;
  p{
    font-weight: 300;
  }
}

.modal-body{
  color: $primary-color;
  .wpcf7-text, textarea {
    text-align: left;
    background-color: $light-grey;
    color: $primary-color !important;
    padding: 10px 18px;
    border: none;
    border-radius: 0px;
    font-size: 1.125rem;
    font-weight: 400;
    z-index: 50;
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $primary-color;
    text-align: left;
    font-weight: 300;
    font-size: 1.125rem;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $primary-color;
    text-align: left;
    font-weight: 300;
    font-size: 1.125rem;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $primary-color;
    text-align: left;
    font-weight: 300;
    font-size: 1.125rem;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $primary-color;
    text-align: left;
    font-weight: 300;
    font-size: 1.125rem;
  }
  .btn{
    margin-left: 18px;
  }
  .btn:hover{
    color: #000 !important;
  }
  div.wpcf7-response-output {
    margin: 30px 0px;
  }
  span.wpcf7-not-valid-tip {
    color: #cf5634;
    font-size: 1em;
    font-weight: normal;
    display: block;
    margin-bottom: 15px;
  }
  div.wpcf7-validation-errors {
    border: 2px solid #202020 !important;
  }
  div.wpcf7-mail-sent-ok {
    border: 2px solid #b54d2e !important;
  }
  #wpcf7-f146-o2 > form > div.row > div.col-lg-12.file-upload > div > div:nth-child(1){
    padding-left: 0px;
    padding-bottom: 15px;
  }
  #wpcf7-f146-o2 > form > div.row > div.col-lg-12.file-upload > div > div:nth-child(2){
    padding-left: 0px;
  }
}

.modal-footer{
  .btn:hover{
    color: #000 !important;
  }
}

#mega-menu-footer_navigation_vacancies{
  padding-left: 10px;
  ul li{
    line-height: 45px !important;
    a, a:hover{
      color: #fff;
      text-decoration: none;
    }
  }
}
