.banner{
  padding: 85px 80px 0px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
  a, a:hover{
    color: white;
    text-decoration: none;
  }
}

.sidenav {
  background-color: rgba(32, 32, 32, 0.85);;
  overflow: hidden;
  height: 100vh;
  width: 0;
  top: 50px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: .5s;
  padding-top: 15%;
  text-align: right;
  ul {
    list-style: none;
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  margin-bottom: 20px;
}

.social-media-icons {
  margin-top: 50px;
  margin-bottom: 40px;
}

.social-media-icons a {
  padding: 8px 8px 8px 5px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: inline;
  transition: 0.3s;
  margin-bottom: 20px;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.burger-icon{
  z-index: 999;
  position: relative;
}

li.mega-menu-item {
  display: block !important;
}

#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation > li.mega-menu-item > a.mega-menu-link {
    padding: 0px !important;
}

.social-icon a {
  color: white;
}

.social-icon a i:hover{
  color: $copper;
}
