.hero-wrapper{
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  overflow: hidden;
  text-align: center;
  position: relative;
  .hero-wrapper-verticle {
    display: table;
    height: 100vh;
    width: 100%;
    .hero-content{
      color: #fff;
      h1, h2{
        color: #fff;
        text-shadow: 4px 1px 15px black;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
  .down-arrow{
    position: absolute;
    width: 100%;
    bottom: 9%;
  }
}

#scroll-down {
  display: block;
  position: relative;
  padding-top: 79px;
  text-align:center;
}
.arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 38px;
}
.arrow-down:after {
  content: '';
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-top: 2px solid $copper;
  border-right: 2px solid $copper;
  behavior: url(-ms-transform.htc);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
#scroll-down::before {
  -webkit-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */
  -moz-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Fx 5+ */
  -o-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Opera 12+ */
  animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */

  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -2px;
  width: 2px;
  height: 86px;
  background: $copper;
  content: ' ';
}

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-moz-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@-o-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

// codepen profile logo
#paschka {
  display: block;
  color:white;
  font-family:helvetica neue, helvetica, arial;
  font-size:32px;
  text-decoration: none;
  position: fixed;
  bottom:0px;
  right:0px;
  padding:0px;
  transition: all .1s ease;
  background:#000;
  height:40px;
  line-height:30px;
  vertical-align:middle;
  width:40px;
  text-align:center;
  border-radius: 5%;
  bottom:20px;
  right:20px;

  &:hover {
    background:#232323;
    transition:all .1s ease;
    color:#f0f0f0;
  }
}


.secondary-image-split{
  height: inherit;
  min-height: 100vh;
  .secondary-image{
    background-size: cover;
  }
  .hero-wrapper-verticle {
    display: table;
    height: 100vh;
    width: 78%;
    padding-left: 15%;
  }
  .floating-img-right{
    position: absolute;
    bottom: -33%;
    right: 5%;
  }
}

.tripple-cta-section{
  background-color: $light-grey;
  .hero-wrapper-verticle {
    display: table;
    height: 100vh;
    width: 100%;
  }
  img{
    min-width: 100%;
    max-width: 100%;
    height: inherit;
  }
}
/// HOME PAGE END ///


/// ABOUT PAGE START ///
.about-main-section{
  padding-top: 100px;
  .about-container-one{
    padding: 0px 15%;
    margin-bottom: 200px;
    .col-xl-6:first-child{
      padding-right: 75px;
    }
    .col-xl-6:last-child{
      margin-top: 100px;
    }
  }
  .about-container-two{
    .col-xl-7{
      padding-left: 0px;
    }
    .col-xl-5{
      padding-right: 10%;
      padding-left: 100px;
    }
  }
}

.page-template-template-aboutpage{
  .footer-cta-section{
    background-color: $light-grey;
    .btn:after, .comment-form input[type=submit]:after, .search-form .search-submit:after {
      background: #f2f2f2;
    }
    .floating-img-one {
      position: absolute;
      left: -15%;
      bottom: -30%;
    }
    .floating-img-two {
      position: absolute;
      right: -5%;
      bottom: 25%;
    }
  }
}
/// ABOUT PAGE END ///



/// TEAM PAGE START ///
.team-profiles-container{
  padding: 100px 15%;
  .team-img img{
    min-width: 100%;
    max-width: 100%;
    height: inherit;
  }
  h2{
    margin-top: 20px;
    margin-bottom: 5px;
  }
}

.page-template-template-teampage {
  .footer-cta-section{
    background-color: $light-grey;
    .btn:after, .comment-form input[type=submit]:after, .search-form .search-submit:after {
      background: #f2f2f2;
    }
    .floating-img-one {
      position: absolute;
      left: 0%;
      bottom: 15%;
    }
    .floating-img-two {
      position: absolute;
      right: -5%;
      bottom: 25%;
    }
  }
}
/// TEAM PAGE END ///


/// SERVICES PAGE START ///
.page-template-template-servicespage.page-id-11{
  .footer-cta-section{
    background-color: $light-grey;
    .btn:after, .comment-form input[type=submit]:after, .search-form .search-submit:after {
      background: #f2f2f2;
    }
  }
  .footer-cta-section .floating-img-one {
    position: absolute;
    left: -6%;
    bottom: -50%;
  }
  .footer-cta-section .floating-img-two {
    position: absolute;
    right: 62%;
    bottom: 0%;
    z-index: 999;
  }
}

.page-template-template-servicespage.page-id-21{
  .footer-cta-section{
    background-color: $light-grey;
    .btn:after, .comment-form input[type=submit]:after, .search-form .search-submit:after {
      background: #f2f2f2;
    }
  }
  .floating-img-two {
    position: absolute;
    right: -10%;
    bottom: -15%;
  }
}

.page-template-template-servicespage.page-id-23{
  .footer-cta-section{
    background-color: $light-grey;
    .btn:after, .comment-form input[type=submit]:after, .search-form .search-submit:after {
      background: #f2f2f2;
    }
  }
  .footer-cta-section .floating-img-one {
    position: absolute;
    left: -10%;
    bottom: -15%;
  }
  .footer-cta-section .floating-img-two {
    position: absolute;
    right: -15%;
    bottom: -35%;
  }
}



/// PRICES PAGE START ///
.pricing-secondary-section{
  padding: 5% 0% 0% 15%;
  position: relative;
  .pricing-title{
    margin-top: 100px;
  }
  .pricing-ac{
    margin-top: 20px;
  }
  .pricing-title:first-child{
    margin-top: 0px;
  }
  .pricing-table{
    margin-bottom: 100px;
  }
  .image-col{
    padding-right: 0px;
  }
  .pricing-img-top{
    position: absolute;
    top: 0%;
    left: 0%;
  }
  .pricing-img-bottom{
    position: absolute;
    top: 20%;
    right: 0%;
  }
  img{
    max-width: 100%;
    height: inherit;
  }
  .prices-page-cta{
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: $light-grey;
    padding: 100px;
    .btn:after, .comment-form input[type=submit]:after, .search-form .search-submit:after {
      background: #f2f2f2;
    }
    .floating-img-two{
      position: absolute;
      top: -55%;
      right: -10%;
    }
  }
}
.page-template-template-pricingpage{
  table {
    width: 100%;
    margin: 0px auto;
    table-layout: fixed;
    border-collapse: collapse;
  }


  td {
    padding:1em 0 0 0;
    vertical-align:bottom;
    background-image:radial-gradient(black 1px, white 0px);
    background-size: 8px 8px;
    background-repeat:repeat-x;
    background-position: left bottom;
  }

  td span{
    background-color:#fff !important;
  }

  td:nth-child(odd){
    font-weight: 300 !important;
    font-size: 1.375rem
  }

  td:nth-child(even){
    font-weight: 400 !important;
    font-size: 1.25rem
  }

  td:first-child {
    text-align: left;
    font-weight: 700;
  }

  td:first-child span{
    padding-right:.5em;
  }

  td:last-child {
      text-align: right;
      width: 10em;
  }

  td:last-child span{
    padding-left:.5em;
  }
}
/// PRICES PAGE START ///


/// CONTACT PAGE START ///
.contact-main-section{

  .col-lg-5{
    padding-left: 0px;
  }

  .contact-information{
    background-color: $light-grey;
    text-align: right;
    padding: 100px;
    hr{
      margin-top: 35px;
      margin-bottom: 35px;
    }
    h4{
      margin-top: 10px;
      font-weight: 400;
    }
    .social-icons a i:hover{
      color: $copper;
    }
    a, a:hover{
      color: #000;
      text-decoration: none;
    }
    .contact-floating-img{
      position: absolute;
      width: 100%;
      top: 40%;
      left: -15%;
    }
  }

  .contact-form-wrapper{
    padding: 100px 220px 100px 50px;
    .wpcf7-text, textarea {
      text-align: left;
      background-color: $light-grey;
      color: $primary-color;
      padding: 10px 18px;
      border: none;
      border-radius: 0px;
      font-size: 1.125rem;
      font-weight: 400;
      z-index: 50;
      position: relative;
      width: 100%;
      float: left;
      margin-bottom: 15px;
    }
    .col-lg-6 , .col-lg-12{
      padding-left: 0px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $primary-color;
      text-align: left;
      font-weight: 300;
      font-size: 1.125rem;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $primary-color;
      text-align: left;
      font-weight: 300;
      font-size: 1.125rem;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $primary-color;
      text-align: left;
      font-weight: 300;
      font-size: 1.125rem;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $primary-color;
      text-align: left;
      font-weight: 300;
      font-size: 1.125rem;
    }

    .btn:hover{
      color: #000 !important;
    }

    div.wpcf7-response-output {
      margin: 30px 0px;
    }

    span.wpcf7-not-valid-tip {
      color: #cf5634;
      font-size: 1em;
      font-weight: normal;
      display: block;
      margin-bottom: 15px;
    }

    div.wpcf7-validation-errors {
      border: 2px solid #202020 !important;
    }

    div.wpcf7-mail-sent-ok {
      border: 2px solid #b54d2e !important;
    }
  }

}

/// CONTACT PAGE END ///


/// GENERAL PAGE CSS START ///
.generic-page-content-wrapper{
  padding: 100px 0px;
}

.page-template-default{
  .footer-cta-section {
    background-color: $light-grey;
    .btn:after, .comment-form input[type=submit]:after, .search-form .search-submit:after {
      background: #f2f2f2;
    }
    .floating-img-one {
      position: absolute;
      left: -10%;
      bottom: -17%;
    }
    .floating-img-two {
      position: absolute;
      right: -10%;
      bottom: 0%;
    }
  }
}

.error404 .footer-cta-section{
  display: none !important;
}
/// GENERAL PAGE CSS END ///

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 92%;
  margin-left: 4%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(207, 86, 52, 0.60);
}

.img-hover:hover .overlay {
  opacity: 1;
}
