/* iPhone 5 Down Portrait */
@media (max-width: 320px) {
  .hero-wrapper .hero-wrapper-verticle .hero-content {
    padding-top: 40%;
  }
  .down-arrow{
    display: none;
  }
  .sidenav {
    height: inherit;
  }
  .nav-footer li{
    font-size: 1.25rem;
  }
}

/* iPhone 5 Down Landscape */
@media (min-width: 321px) and (max-width: 568px) and (max-height: 320px) {
  .hero-wrapper .hero-wrapper-verticle .hero-content {
    color: #fff;
    padding-top: 15%;
  }
  .contact-main-section .contact-information .contact-floating-img{
    display: none;
  }
}

/* Phone Portrait */
@media (max-width: 414px) {
  .banner {
    padding: 25px 15px 0 !important;
  }

  #scroll-down:before {
    -webkit-animation: elasticus 3s cubic-bezier(1,0,0,1) infinite;
    animation: elasticus 3s cubic-bezier(1,0,0,1) infinite;
    bottom: 0px;
    height: 60px;
    margin-left: -1.5px;
    width: 1px;
  }
  .arrow-down {
    height: 8px;
  }

  /// HOME PAGE END ///
  .secondary-image-split {
    min-height: unset ;
    padding: 10% 5%;
  }

  .secondary-image-split .hero-wrapper-verticle {
    display: block;
    min-height: unset;
    width: 100%;
    padding-left: 0%;
    div{
      display: block;
    }
  }

  .secondary-image-split {
    height: unset;
  }
  .secondary-image-split .hero-wrapper-verticle {
    height: unset;
  }



  .tripple-cta-section {
    background-color: #f2f2f2;
    padding: 10% 0%;
  }
  .three-cta-col{
    margin-bottom: 50px;
  }
  /// HOME PAGE END ///



  /// PRICING PAGE START ///
  .pricing-secondary-section {
      padding: 0%;
      position: relative;
  }

  .pricing-secondary-section-inner{
    padding: 5%;
    position: relative;
  }

  .pricing-secondary-section .image-col {
    padding-right: 0;
    padding-left: 0px;
  }

  .pricing-secondary-section .prices-page-cta {
    position: relative;
    padding: 10% 5%;
  }

  .page-template-template-pricingpage span {
    padding-right: .5em;
    padding-bottom: .5em;
  }

  .page-template-template-pricingpage td:last-child {
    text-align: right;
    width: 15em;
  }

  .pricing-secondary-section .prices-page-cta .floating-img-two{
    display: none;
  }
  /// PRICING PAGE END ///



  .contact-main-section .col-lg-5 {
    padding-left: 0;
    padding-right: 0px;
  }

  .contact-main-section .contact-information {
      background-color: #f2f2f2;
      text-align: left;
      padding: 20px;
  }

  .contact-main-section .contact-form-wrapper {
    padding: 50PX 0 50PX 15px;
  }

  .footer-main-wrapper .newsletter-wrapper {
    padding: 0px;
  }

  .footer-main-wrapper .footer-low-colum {
    padding-top: 50px;
  }

  .sidebar-content {
    text-align: left;
  }

  .contact-floating-img{
    display: none;
  }


  /// BUTTON START ///
  .btn, .comment-form input[type=submit], .search-form .search-submit {
    padding: 10px 10px;
    p{
      font-size: 1rem;
    }
  }
  /// BUTTON END ///
}

/* Phone Portrait & Height */
@media (max-width: 414px) and (min-height: 668px) {
}

/* Phone Landscape */
@media (min-width: 415px) and (max-width: 767px){
  .banner {
    padding: 25px 10px 0;
  }

  .sidenav {
    height: inherit;
  }

  .hero-wrapper {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;
    text-align: center;
    position: relative;
  }

  .hero-wrapper .hero-wrapper-verticle {
    display: table;
    height: inherit;
    width: 100%;
    padding: 25% 0;
  }

  .down-arrow{
    display: none;
  }

  /// HOME PAGE START ///
  .secondary-image-split {
    min-height: unset ;
    padding: 10% 5%;
  }

  .secondary-image-split .hero-wrapper-verticle {
    display: block;
    min-height: unset;
    width: 100%;
    padding-left: 0%;
    div{
      display: block;
    }
  }



  .tripple-cta-section {
    background-color: #f2f2f2;
    padding: 10% 0%;
  }
  .three-cta-col{
    margin-bottom: 50px;
  }
  .overlay {
    display: none;
  }

  .hero-wrapper-table{
    display: block !important;
  }

  .btn{
    padding: 10px 10px;
  }

  .secondary-image-split {
    height: unset;
  }
  .secondary-image-split .hero-wrapper-verticle {
    height: unset;
  }
  /// HOME PAGE END ///



  /// PRICING PAGE START ///
  .pricing-secondary-section {
      padding: 0%;
      position: relative;
  }

  .pricing-secondary-section-inner{
    padding: 5%;
    position: relative;
  }

  .pricing-secondary-section .image-col {
    padding-right: 0;
    padding-left: 0px;
  }

  .pricing-secondary-section .prices-page-cta {
    position: relative;
    padding: 10% 5%;
  }

  .page-template-template-pricingpage span {
    padding-right: .5em;
    padding-bottom: .5em;
  }

  .page-template-template-pricingpage td:last-child {
    text-align: right;
    width: 15em;
  }

  .pricing-secondary-section .prices-page-cta .floating-img-two{
    display: none;
  }
  /// PRICING PAGE END ///



  .contact-main-section .col-lg-5 {
    padding-left: 0;
    padding-right: 0px;
  }

  .contact-main-section .contact-information {
      background-color: #f2f2f2;
      text-align: left;
      padding: 20px;
  }

  .contact-main-section .contact-form-wrapper {
    padding: 50PX 0 50PX 15px;
  }

  .footer-main-wrapper .newsletter-wrapper {
    padding: 0px;
  }

  .footer-main-wrapper .footer-low-colum {
    padding-top: 50px;
  }

  .sidebar-content {
    text-align: left;
  }

  /// BUTTON START ///

  /// BUTTON END ///
}

/* Phone Landscape & Height */
@media (min-width: 415px) and (max-width: 767px) and (min-height: 415px) {
  .hero-wrapper .hero-wrapper-verticle {
    padding: 40% 0 !important;
  }
}

/* Tablet Portrait */
@media (min-width: 768px) and (max-width: 991px){
  /// HEADER START ///
  .banner {
    padding: 85px 40px 0;
  }
  .sidenav {
    background-color: rgb(32, 32, 32);
  }
  .sidenav a {
    padding: 8px 8px 8px 0px;
  }
  .social-icon{
    text-align: left;
  }
  /// HEADER END ///


  /// HOME PAGE END ///
  .secondary-image-split {
    min-height: unset ;
    padding: 10% 5%;
  }

  .secondary-image-split .hero-wrapper-verticle {
    display: table;
    min-height: unset;
    height: inherit;
    width: 100%;
    padding-left: 0%;
  }

  .tripple-cta-section {
    background-color: #f2f2f2;
    padding: 10% 0%;
  }
  .three-cta-col{
    margin-bottom: 50px;
  }
  /// HOME PAGE END ///


  /// ABOUT PAGE START ///
  .about-container-three{
    padding: 0% 5%;
    .floating-img-left{
      position: relative;
    width: 50%;
    bottom: -100px;
    left: 0px;
    z-index: 999;
    }
    .floating-img-right{
      position: relative;
      width: 70%;
      bottom: 100px;
      right: 0px;
    }
    .floating-img-margin{
      margin-bottom: 100px;
    }
  }

  .about-main-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .page-template-template-aboutpage .footer-cta-section .floating-img-two {
    position: absolute;
    right: -10%;
    bottom: 45%;
  }

  .page-template-template-aboutpage .footer-cta-section .floating-img-one {
    position: absolute;
    left: -50%;
    bottom: -25%;
  }

  .about-container-three .floating-img-left {
    position: relative;
    width: 100%;
    bottom: 0px;
    left: 0;
    z-index: 999;
  }

  .about-container-three .floating-img-right {
    position: relative;
    width: 100%;
    bottom: 0px;
    right: 0;
  }
  /// ABOUT PAGE END ///


  /// PRICING PAGE START ///
  .pricing-secondary-section {
      padding: 0%;
      position: relative;
  }

  .pricing-secondary-section-inner{
    padding: 5%;
    position: relative;
  }

  .pricing-secondary-section .image-col {
    padding-right: 0;
    padding-left: 0px;
  }

  .pricing-secondary-section .prices-page-cta {
    position: relative;
    padding: 5%;
  }

  .page-template-template-pricingpage span {
    padding-right: .5em;
    padding-bottom: .5em;
  }

  .page-template-template-pricingpage td:last-child {
    text-align: right;
    width: 15em;
  }
  /// PRICING PAGE END ///


  /// CONTACT PAGE START ///
  .contact-main-section .col-lg-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .contact-main-section .contact-information .contact-floating-img {
    position: absolute;
    width: 70%;
    top: 15%;
    left: -15%;
  }

  .contact-main-section .contact-form-wrapper {
    padding: 100px 100px 50px;
  }
  /// CONTACT PAGE START ///


  /// FOOTER START ///
  .footer-img-wrapper{
    display: none;
  }
  /// FOOTER END ///
}

/* Tablet Portrait & Height */
@media (min-width: 768px) and (max-width: 991px) and (min-height: 1025px){
}

/* Tablet Landscape */
@media (min-width: 992px) and (max-width: 1532px){
  .sidenav {
    padding-top: 5%;
  }

  /// HOME PAGE START ///
  .secondary-image-split .hero-wrapper-verticle {
    display: table;
    min-height: 100vh;
    height: inherit;
    width: 70%;
    padding-left: 5%;
  }
  .secondary-image-split .floating-img-right {
    position: absolute;
    bottom: -36%;
    right: 2%;
    img{
      width: 80%;
    }
  }
  /// HOME PAGE END ///


  /// ABOUT PAGE START ///
  .about-container-three{
    padding: 0% 5%;
    .floating-img-left{
      position: relative;
      width: 80%;
      bottom: -100px;
      left: 0;
      z-index: 999;
    }
    .floating-img-right{
      position: relative;
      width: 90%;
      bottom: -30px;
      right: 100px;
    }
    .floating-img-margin{
      margin-bottom: 100px;
    }
  }

  .about-main-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .page-template-template-aboutpage .footer-cta-section .floating-img-two {
    position: absolute;
    right: -10%;
    bottom: 45%;
  }

  .page-template-template-aboutpage .footer-cta-section .floating-img-one {
    position: absolute;
    left: -50%;
    bottom: -25%;
  }
  /// ABOUT PAGE END ///

  /// TEAM PAGE START ///
  .page-template-template-teampage .footer-cta-section .floating-img-one {
    position: absolute;
    left: -50%;
    bottom: 40%;
    img{
      width: 50%;
    }
  }
  .page-template-template-teampage .footer-cta-section .floating-img-two {
    position: absolute;
    right: -5%;
    bottom: -20%;
    img{
      width: 50%;
    }
  }


  /// TEAM PAGE END ///


  /// SERVICES PAGES START ///
  .secondary-image-split .hero-wrapper-verticle {
      display: table;
      min-height: 100vh;
      height: inherit;
      width: 100%;
      padding-left: 0;
      padding: 10% 5%;
  }

  .page-template-template-servicespage.page-id-11 .footer-cta-section .floating-img-one {
    position: absolute;
    left: -20%;
    bottom: -5%;
  }

  .page-template-template-servicespage.page-id-11 .footer-cta-section .floating-img-two {
    position: absolute;
    right: -9%;
    bottom: 1%;
    z-index: 999;
    img{
      width: 70%;
    }
  }

  .page-template-template-servicespage.page-id-21 .footer-cta-section .floating-img-one {
    position: absolute;
    left: -37%;
    bottom: 40%;
  }

  .page-template-template-servicespage.page-id-23 .footer-cta-section .floating-img-one {
    position: absolute;
    left: -40%;
    bottom: 50%;
  }

  .page-template-template-servicespage.page-id-23 .footer-cta-section .floating-img-two {
    position: absolute;
    right: -15%;
    bottom: -35%;
  }
  /// SERVICES PAGES START ///


  /// PRICING PAGE START ///
  .pricing-secondary-section {
      padding: 0%;
      position: relative;
  }

  .pricing-secondary-section-inner{
    padding: 5%;
    position: relative;
  }

  .pricing-secondary-section .image-col {
    padding-right: 0;
    padding-left: 0px;
  }

  .pricing-secondary-section .pricing-img-top {
      position: absolute;
      top: 3%;
      left: 0;
  }
  .pricing-secondary-section .pricing-img-bottom {
    position: absolute;
    top: 40%;
    right: 0;
  }

  .pricing-secondary-section .prices-page-cta {
  }

  .pricing-secondary-section .prices-page-cta .floating-img-two {
    position: absolute;
    top: -24%;
    right: -10%;
    img{
      max-width: 80%;
    }
  }
  /// PRICING PAGE END ///


  /// CONTACT PAGE START ///
  .contact-main-section .contact-information {
    padding: 75px;
  }
  .contact-main-section .contact-form-wrapper {
    padding: 100px 50px 100px 50px;
  }
  /// CONTACT PAGE END ///

  /// FOOTER START ///
  .footer-cta-section .floating-img-two {
    position: absolute;
    right: -25%;
    bottom: 39%;
    img{
      width: 60%;
    }
  }
  .footer-cta-section .floating-img-one {
    position: absolute;
    left: -45%;
    bottom: -20%;
    img{
      width: 60%;
    }
  }
  .footer-low-colum h5{
    font-size: 1rem !important;
  }
  footer{
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 0.8rem !important;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      font-size: 0.8rem !important;
    }
    :-ms-input-placeholder { /* IE 10+ */
      font-size: 0.8rem !important;
    }
    :-moz-placeholder { /* Firefox 18- */
      font-size: 0.8rem !important;
    }
    .footer-main-wrapper .newsletter-wrapper input {
      font-size: 0.8rem;
    }
  }
  /// FOOTER END ///

  /// GENERAL CSS START ///
  .overlay{
    display: none;
  }
  /// GENERAL CSS END ///
}

/* Tablet Landscape & Height*/
@media (min-width: 992px) and (max-width: 1024px) and (max-height: 768px) {
  .pricing-secondary-section .prices-page-cta {
    position: relative;
  }
}



/* Laptop */
@media (min-width: 992px) and (max-width: 1532px) and (max-height: 637px){
  /// HOME PAGE START ///
  .hero-content{
    margin-top: 15%;
  }
  .hero-wrapper .down-arrow {
    bottom: 0%;
  }
  #scroll-down:before {
    height: 70px;
  }
  .secondary-image-split .floating-img-right img {
    max-width: 60%;
  }
  .tripple-cta-section {
    padding: 100px 0px;
  }
  .footer-cta-section .floating-img-two {
    position: absolute;
    right: -15%;
    bottom: 39%;
  }
  .footer-cta-section .floating-img-one {
    position: absolute;
    left: -30%;
    bottom: -20%;
  }

  .page-template-template-aboutpage .footer-cta-section .floating-img-one {
      position: absolute;
      left: -35%;
      bottom: -25%;
  }


  .page-template-template-teampage .footer-cta-section .floating-img-one {
    position: absolute;
    left: -35%;
    bottom: 40%;
  }


  .page-template-template-servicespage.page-id-11 .footer-cta-section .floating-img-one {
    position: absolute;
    left: -15%;
    bottom: -5%;
  }
  .page-template-template-servicespage.page-id-11 .footer-cta-section .floating-img-two {
    position: absolute;
    right: -5%;
    bottom: 0%;
    z-index: 999;
  }


  .page-template-template-servicespage.page-id-21 .footer-cta-section .floating-img-one {
    position: absolute;
    left: -30%;
    bottom: 35%;
  }


  .page-template-template-servicespage.page-id-23 .footer-cta-section .floating-img-one {
    position: absolute;
    left: -30%;
    bottom: 35%;
  }

  .pricing-secondary-section .pricing-img-top {
      position: absolute;
      top: 3%;
      left: 0;
  }
  .pricing-secondary-section .pricing-img-bottom {
    position: absolute;
    top: 40%;
    right: 0;
  }
}

/* ADDITIONAL  MEDIA QUERIES */
@media (min-width: 576px) and (max-width: 601px) {
  .banner p{
    font-size: 1rem;
  }
}

@media (min-width: 1199px) and (max-width: 1533px) {
  .secondary-image-split .floating-img-right {
    position: absolute;
    bottom: -40%;
    right: 25%;
    img{
      max-width: 70%;
    }
  }
}

@media (min-width: 1532px) and (max-width: 1810px) {
  .page-template-template-aboutpage .footer-cta-section .floating-img-two {
      position: absolute;
      right: -10%;
      bottom: 15%;
      img{
        width: 70%;
      }
  }
}

@media (min-width: 1199px) and (max-width: 1300px) {
  .banner {
      padding: 30px 80px 0;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 999;
  }
}

@media (max-height: 0px) and (max-height: 636px) {
  .sidenav {
      padding-top: 4% !important;
  }
}
