$border: 3px;
$color: #1d1d46;
$gradient-1: #000000;
$gradient-2: #ce5834;

.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: .5px;
  text-transform: none;
  color: $color;
  padding: 10px 40px;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  line-height: 1.5;

  p{
    margin-bottom: 0px;
    background: linear-gradient(135deg, $gradient-1, $gradient-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:before {
    background-image: linear-gradient(135deg, $gradient-1, $gradient-2);
    -webkit-transition: background-image 0.9s ease-in-out;
    transition: background-image 0.9s ease-in-out;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    width: calc(100% + #{$border*2});
    height: calc(100% + #{$border*2});
    left: -$border;
    top: -$border;
    z-index: -2;
    transition: all 0.7s ease-in-out;
  }

  &:after {
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    color: #fff;
    transform: scale(1);
    p{
      margin-bottom: 0px;
      background: none;
      background: linear-gradient(135deg, $gradient-2, $gradient-1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:before {
      background-image: linear-gradient(200deg, $gradient-1, $gradient-2);

    }
    &:after {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }

  &:active {

    &:before {
      background-image: linear-gradient(225deg, $gradient-1, $gradient-2);
    }
  }
}

.btn-marg-top{
  margin-top: 50px;
}

.btn-marg-bottom{
  margin-bottom: 50px;
}
